@tailwind base;
@tailwind components;
@import "../node_modules/nprogress/nprogress.css";

main {
  @apply mt-24;
}

.alert:empty {
  @apply hidden;
}

.alert.toast {
  @apply z-40 fixed top-0 right-0 w-64 mt-20 shadow-xl cursor-pointer text-sm ease-out duration-300;
}

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

@tailwind utilities;

.form-admin-fieldset {
    @apply flex pt-2 mt-1 w-full
}
.form-admin-fieldset > .label-box {
    @apply w-1/3 flex
}
.form-admin-fieldset > .input-box {
    @apply w-2/3 flex flex-col
}
.form-admin-fieldset > .input-box > input, .form-admin-fieldset > .input-box > textarea {
    @apply p-2 outline-none border border-gray-900 w-full
}


.wrap {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-rows: 3rem max-content 3rem;
  filter: brightness(0.8);
}
.wrap::before, .wrap::after {
  z-index: -1;
  height: 1rem;
  border-radius: 1rem;
  content: "";
}
.wrap::before {
  box-shadow: 0 1px #fc7444;
  background: linear-gradient(#fc3b3b, #e60023);
}
.wrap::after {
  background: #ecebe9;
  mask-composite: exclude;
}
.wrap:focus-within {
  filter: none;
}

input[type='range'], input[type='range']::-webkit-slider-thumb, input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
    border: none;
    padding: 0;
    width: 100%;
    height: 1rem;
    background: none;
    color: transparent;
}
input[type='range']::-moz-range-track {
    border: none;
    padding: 0;
    width: 100%;
    height: 1rem;
    background: none;
    color: transparent;
}
input[type='range']::-ms-track {
    border: none;
    padding: 0;
    width: 100%;
    height: 1rem;
    background: none;
    color: transparent;
}

input[type="range"].range-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 1.2em;
    cursor: pointer;
    border: 1px solid #29334f;
    overflow: hidden;
}
.range-slider {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 0;
    pointer-events: none;
}
.audience-slider {
    position: relative;
    margin: 0 auto 20px;
    height: 35px;
    text-align: center;
}

.audience-slider input {
    pointer-events: none;
    position: absolute;
    left: 0; top: 15px;
    width: 100%;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
    border-radius: 8px;
}

.audience-slider input::-webkit-slider-thumb {
    pointer-events: all; position: relative; z-index: 1; outline: 0;
    -webkit-appearance: none; height: 24px; width: 24px;
    border-radius: 12px;
    background-color: purple;
    border: 2px solid black;
}
